<nav class="navbar">
	<div class="nav-container">
		<ul class="">
		  	{{ $burl := .Site.BaseURL }}
		  		<li> <a href="{{ $burl }}"> Home </a></li>
          <li> <a href="{{ $burl }}/blog/" class=""> Blog </a></li>
          <li> <a href="{{ $burl }}/features/" class=""> Features </a></li>
          <li> <a href="{{ $burl }}/faqs/" class=""> FAQ </a></li>
          <li> <a href="{{ $burl }}/downloads/" class=""> Downloads </a></li>
		  		<li> <a href="{{ $burl }}/wiki/" class=""> Wiki </a></li>
		  		<li> <a href="{{ $burl }}/guides/" class=""> Guides </a></li>
		  		<li> <a href="{{ $burl }}/forums/" class=""> Support </a></li>
			</ul>
	</div>
</nav>
