{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<style>
h1 {text-align:center;font-size:4em;padding:30px 0 0 0;}
h2 {text-align:center;font-size:2em;padding:30px 0 0 0;}
.bottom {padding:30px 0;}
figure {padding:30px 0 0 0;}
</style>
<div class="page-container">
    <h1>!404 - PAGE NOT FOUND - 404!</h1>
    <h2>It's probably around here somewhere...let's see...</h2>
    <figure>
      <img src="/img/404/errorspock.jpg" />
    </figure>
    <h2>NOPE!</h2>
    <h2 class="bottom">Sorry! Maybe try the <a href="/">Homepage</a> or the <a href="/forums/">Forums</a>?</h2>
</div>
{{ partial "footer.html" . }}
