{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="front-content">
  <div class="fronttitlewrap">
    <div class="fronttitle">
      <h1>A third party tool for accessing BBC iPlayer content</h1>
    </div>
  </div>
  <div class="frontbuttonwrap">
    <div class="page-title">
      <h1>Get started with get_iplayer</h1>
      <h2>VIEW SOURCE | DOWNLOAD</h2>
    </div>
    <div class="frontbuttons">
      <div class="frontnavimg">
        <a class="imglink" href="https://github.com/get-iplayer/get_iplayer">
          <h2>GitHub</h2>
          <div class="fronticon">
            <img src="/icons/github.png" alt="get_iplayer on GitHub" height="512" width="512" />
          </div>
        </a>
      </div>
      <div class="frontnavimg">
        <a class="imglink" href="downloads/">
        <h2>Download</h2>
        <div class="fronticon">
          <img src="/icons/download.png" alt="Download get_iplayer" height="512" width="512" />
        </div>
        </a>
      </div>
    </div>
  </div>
  <!--This is the blue nav wrap-->
  <div class="frontnavwrap">

    <div class="frontnavimg">
      <a class="imglink" href="/guides/">
        <h2>Guides</h2>
        <div class="fronticon">
          <img src="/icons/guides.png" alt="get_iplayer beginner guides" height="512" width="512" />
        </div>
      </a>
      <p>
        Installation and usage guides, complete with copy and paste examples.
      </p>
    </div>
    <div class="frontnavimg">
      <a class="imglink" href="/faq/">
        <h2>FAQ</h2>
        <div class="fronticon">
          <img src="/icons/faq.png" alt="get_iplayer FAQs" height="512" width="512" />
        </div>
      </a>
      <p>
        Got a question? Chances are it's been answered already in the FAQ.
      </p>

    </div>
    <div class="frontnavimg">
      <a class="imglink" href="photo/">
        <h2>Forums</h2>
        <div class="fronticon">
          <img src="/icons/forums.png" alt="get_iplayer support forums" height="512" width="512" />
        </div>
      </a>
      <p>
        Need assistance? get_iplayer not working? Join us in the forums for help.
      </p>
    </div>
  </div>
  <!--This is the text wrap-->
  <div class="frontinfowrap">
    <div class="frontnavimg">

      <h2>Open Source</h2>
      <p>View the source, fork the code or submit your bug fixes. get_iplayer is open and community led.</p>
      <p>Want to contribute to get_iplayer? Then get involved!</p>
      <p><a href="https://github.com/get-iplayer/get_iplayer">View get_iplayer on GitHub</a></p>
    </div>
    <div class="frontnavimg">
        <h2>Free, free & free!</h2>
        <p>Released under GNU GPL, get_iplayer respects all the freedoms that define Open Source software.</p>
        <p>Oh, and don't forget it's free, as in 'free beer', too!</p>
        <p><a href="http://www.gnu.org/licenses/gpl-3.0.en.html">Read more about GNU GPL</a></p>
    </div>
    <div class="frontnavimg">
      <h2>Easy to use</h2>
      <p>With both CLI's & graphical interfaces, get_iplayer has an interface for pretty much everyone.</p>
      <p>Our guides & wiki will get you started in no time!</p>
      <p><a href="/guides/">View the get_iplayer guides</a></p>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
