{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="page-container">
    <div class="page-title">
    		<h1>get_iplayer Download Options</h1>
    		<h2>CLICK AN IMAGE BELOW TO VIEW INSTALL GUIDES...</h2>
        <div class="guidebuttons wikibuttons downloadbuttons">
          <div class="buttonimg">
            <a class="imglink" href="/downloads/windows/">
              <h2>Windows</h2>
              <div class="fronticon">
                <img src="/icons/windows.jpg" alt="Download get_iplayer installer for Windows" height="140" width="140" />
              </div>
            </a>
          </div>
          <div class="buttonimg">
            <a class="imglink" href="/downloads/mac-os-x/">
            <h2>macOS</h2>
            <div class="fronticon">
              <img src="/icons/Mac-Yosemite.jpg" alt="Download get_iplayer for macOS" height="140" width="140" />
            </div>
            </a>
          </div>
          <div class="buttonimg">
            <a class="imglink" href="/downloads/linux/">
            <h2>Linux/BSD</h2>
            <div class="fronticon">
              <img src="/icons/tux.png" alt="Download get_iplayer for Linux/BSD" height="140" width="118" />
            </div>
            </a>
          </div>
        </div>
        <div style="max-width:40em;margin:auto;text-align:center;">
          <h1>Want the latest and greatest?</h1>
          <h3>Check out the <a href="https://github.com/get-iplayer/get_iplayer/wiki/gipdev">get_iplayer development wiki page</a> for the latest development version.</h3>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
