{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="page-container">
    <div class="page-title">
    		<h1>get_iplayer Frequently Asked Questions</h1>
    		<h2>A LIST OF COMMON QUESTIONS...</h2>
    </div>
        <div class="guidebuttons wikibuttons downloadbuttons">
        <div class="buttonimg">
            <a class="imglink" href="/faqs/getting-started">
            <h2>Getting Started</h2>
            <div class="fronticon">
                <img src="/icons/getting-started.png" alt="get-iplayer getting-started FAQ" height="250" width="250" />
            </div>
            </a>
         </div>
        <div class="buttonimg">
            <a class="imglink" href="https://github.com/get-iplayer/get_iplayer/wiki/faq">
            <h2>Full FAQ list</h2>
            <div class="fronticon">
            <img src="/icons/github-faq.png" alt="Full list of FAQs on GitHub" height="250" width="250" />
            </div>
            </a>
        </div>

        <h2>Have a question that isn't answered here?</h2>

        <p>Don't worry, if you've run into a problem or have a question that isn't answered here you can create a new thread over in the <a href="/forums/">forums</a>.</p>

        <p>Make sure to search the forums first to see if anyone else has experienced the same problem!</p>
    </div>
</div>
{{ partial "footer.html" . }}
