{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="page-container">
    <div class="page-title">
    		<h1>get_iplayer Wiki & Documentation</h1>
    		<h2>A COMPREHENSIVE RESOURCE FOR GET_IPLAYER</h2>
    </div>
        <div class="guidebuttons wikibuttons downloadbuttons">
          <div class="buttonimg">
            <a class="imglink" href="https://github.com/get-iplayer/get_iplayer/wiki/issues">
              <h2>Known issues</h2>
              <div class="fronticon">
                <img src="/icons/knownissues.png" alt="See get_iplayer known issues on GitHub" height="140" width="140" />
              </div>
            </a>
          </div>
          <div class="buttonimg">
            <a class="imglink" href="https://github.com/get-iplayer/get_iplayer/wiki/releasenotes">
            <h2>Release notes</h2>
            <div class="fronticon">
              <img src="/icons/releasenotes.png" alt="get_iplayer release notes" height="140" width="140" />
            </div>
            </a>
          </div>
          <div class="buttonimg">
            <a class="imglink" href="https://github.com/get-iplayer/get_iplayer/wiki/documentation">
            <h2>Usage and examples</h2>
            <div class="fronticon">
              <img src="/icons/examplecommands.png" alt="get_iplayer usage and examples" height="140" width="140" />
            </div>
            </a>
          </div>
          <div class="buttonimg">
            <a class="imglink" href="https://github.com/get-iplayer/get_iplayer/wiki/installation">
            <h2>Install guides</h2>
            <div class="fronticon">
              <img src="/icons/installguides.png" alt="get_iplayer installation guides" height="140" width="140" />
            </div>
            </a>
          </div>
          <div class="buttonimg">
            <a class="imglink" href="https://github.com/get-iplayer/get_iplayer/wiki/manpage">
            <h2>Unix man page</h2>
            <div class="fronticon">
              <img src="/icons/unixmanpage.png" alt="get_iplayer manpage" height="140" width="140" />
            </div>
            </a>
          </div>
          <div class="buttonimg">
            <a class="imglink" href="https://github.com/get-iplayer/get_iplayer/wiki/options">
            <h2>Options list</h2>
            <div class="fronticon">
              <img src="/icons/options.png" alt="get_iplayer full options list" height="140" width="140" />
            </div>
            </a>
          </div>
          <div class="buttonimg">
            <a class="imglink" href="https://github.com/get-iplayer/get_iplayer/wiki/tagging">
            <h2>Metadata tagging</h2>
            <div class="fronticon">
              <img src="/icons/metadatatagging.png" alt="get_iplayer tagging guide" height="140" width="140" />
            </div>
            </a>
          </div>
          <div class="buttonimg">
            <a class="imglink" href="https://github.com/get-iplayer/get_iplayer/wiki/modes">
            <h2>Recording quality</h2>
            <div class="fronticon">
              <img src="/icons/recordingmodes.png" alt="get_iplayer recording quality guide" height="140" width="140" />
            </div>
            </a>
          </div>
          <div class="buttonimg">
            <a class="imglink" href="https://github.com/get-iplayer/get_iplayer/wiki/contribute">
            <h2>Contribute</h2>
            <div class="fronticon">
              <img src="/icons/contribute.png" alt="Download get_iplayer" height="140" width="140" />
            </div>
            </a>
          </div>
        </div>
    </div>
{{ partial "footer.html" . }}
